/* === ВЕЛИКИЙ РОЗМІР (Тільки розміри) === */

QLabel {
    font-size: 18px;
}

QLabel#titleLabel {
    font-size: 25px;
}

QLabel#adminTitleLabel {
    font-size: 24px;
}

QLabel#errorLabel {
    font-size: 16px;
}

QPushButton {
    font-size: 18px;
    height: 40px;
}

QPushButton#searchButton, QPushButton#clearButton, QPushButton#cancelButton {
    font-size: 17px;
    height: 40px;
}

QPushButton#logButton {
    font-size: 17px;
    height: 40px;
}

QPushButton#iconButton {
    height: 40px;
}

QPushButton#loginButton, QPushButton#drukButton, QPushButton#errorButton,
QPushButton#greenButton, QPushButton#printButton, QPushButton#editButton {
    font-size: 18px;
    height: 40px;
}

QLineEdit {
    font-size: 18px;
    height: 40px;
}

QComboBox {
    font-size: 18px;
    height: 40px;
}

QTextEdit {
    font-size: 17px;
}

QListWidget {
    font-size: 17px;
}

QListWidget::item[role="section"] {
    font-size: 15px;
}

QTableWidget {
    font-size: 17px;
}

QHeaderView::section {
    font-size: 17px;
    padding: 6px;
}

QTableWidget QLineEdit {
    font-size: 16px;
    height: 35px;
    margin: 2px;
}

QTableWidget QPushButton {
    font-size: 15px;
    height: 35px;
    margin: 2px;
}

QGroupBox#groupBox {
    font-size: 16px;
}

QMenu#contextMenu {
    font-size: 18px;
}

QCheckBox {
    font-size: 18px;
}

#usersTable QLineEdit {
    font-size: 16px;
    height: 35px;
    margin: 4px;
}

#usersTable QPushButton {
    font-size: 15px;
    height: 35px;
    margin: 4px 10px;
}

QLabel#generalDescLabel {
    font-size: 18px;
}

QLabel#reportDescription {
    font-size: 17px;
}
