/* === СЕРЕДНІЙ РОЗМІР (Тільки розміри) === */

QLabel {
    font-size: 14px;
}

QLabel#titleLabel {
    font-size: 22px;
}

QLabel#adminTitleLabel {
    font-size: 20px;
}

QLabel#errorLabel {
    font-size: 12px;
}

QPushButton {
    font-size: 14px;
    height: 26px;
}

QPushButton#searchButton, QPushButton#clearButton, QPushButton#cancelButton {
    font-size: 13px;
    height: 26px;
}

QPushButton#logButton {
    font-size: 13px;
    height: 26px;
}

QPushButton#iconButton {
    height: 26px;
}

QPushButton#loginButton, QPushButton#drukButton, QPushButton#errorButton,
QPushButton#greenButton, QPushButton#printButton, QPushButton#editButton {
    font-size: 14px;
    height: 26px;
}

QLineEdit {
    font-size: 14px;
    height: 26px;
}

QComboBox {
    font-size: 14px;
    height: 26px;
}

QTextEdit {
    font-size: 13px;
}

QListWidget {
    font-size: 13px;
}

QListWidget::item[role="section"] {
    font-size: 11px;
}

QTableWidget {
    font-size: 13px;
}

QHeaderView::section {
    font-size: 13px;
    padding: 4px;
}

QTableWidget QLineEdit {
    font-size: 13px;
    height: 24px;
    margin: 1px;
}

QTableWidget QPushButton {
    font-size: 12px;
    height: 24px;
    margin: 1px;
}

QGroupBox#groupBox {
    font-size: 12px;
}

QMenu#contextMenu {
    font-size: 14px;
}

QCheckBox {
    font-size: 14px;
}

QLabel#generalDescLabel {
    font-size: 16px;
}

QLabel#reportDescription {
    font-size: 15px;
}